# allennlp 0.9 with gradient accumulation and fp16
-e git+https://github.com/ibeltagy/allennlp@fp16_v0.9.0#egg=allennlp

dill
jsonlines
pandas
scikit-learn
spacy==3.5.3
streamlit
scipy
scispacy==0.5.3
https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.3/en_core_sci_sm-0.5.3.tar.gz
